<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.money_task_kotlin">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/splash_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyAppTask">

        <activity android:name=".view.activity.MainActivity"/>
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>